@import "../../styles/colors.scss";

.Main {
  text-align: center;
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
}

.Main-content {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-logo {
    animation: Main-logo-spin 1 5s ease-in-out;
  }
}

@keyframes Main-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
