@import "../styles/colors.scss";

.logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
}

.description {
  margin: 50px auto;
}

.button {
  font-size: 17px;
  font-weight: 500;
  background-color: $blue;
  height: 50px;
  width: 150px;
  border-radius: 50px;
  border: 1px solid $white;

  &:hover {
    background-color: $hover-blue;
  }

  a {
    text-decoration: none;
    color: $white;
    line-height: 50px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin 1 5s ease-in-out;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
