@import '../../styles/colors.scss';

.Navbar-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40px;
  width: 300px;
  margin: 0 auto;
  color: $black;
}
