@import "../../styles/colors.scss";

.active {
  color: $black;
}

.inactive {
  color: $light-grey;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  width: 300px;
  margin: 0 auto;

  a {
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $black;
    }
  }
}
