@import '../../styles/colors.scss';

.Navbar-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  width: 300px;
  margin: 0 auto;

  a {
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: $light-grey;
    }

    &:hover {
      color: $black;
    }
  }
}
